body {
  margin: 0;
  font: 400 13px/24px Roboto,sans-serif;
  background-color: #fff;
  overflow: hidden;
  width: 400px;
  transition: all 0.3s ease-out;
}
h3 {
  font-weight: 400;
  font-size: 140%;
  padding: 10px 20px;
  margin: 0;
}
body>div {
  min-width: 400px;
  overflow: hidden;
}
header {
  height: 46px;
  background-color: #4d8eee;
  color: #fff;
  font-size: 120%;
}
input[type=button] {
  outline: none;
  border: solid 1px #c5c5c5;
  background-color: #fff;
  min-width: 80px;
  cursor: pointer;
}
input[type=button]:active {
  opacity: 0.5;
}

label {
  display: flex;
  align-items: center;
}
label[type=checkbox]>span {
  display: inline-block;
  background-image: url('icons/uchecked.png');
  background-repeat: no-repeat;
  background-position: left center;
  height: 32px;
  width: 52px;
  line-height: 32px;
  cursor: pointer;
}
input:checked ~ span {
  background-image: url('icons/checked.png');
}
label>input[type=checkbox] {
  display: none;
}

summary {
  outline: none;
  cursor: pointer;
  user-select: none;
  padding: 5px;
  background: rgba(0,0,0,0.05);
}

select {
  outline: none;
}

#cover {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 301px;
  position: relative;
}

#move-to-settings,
#move-to-history {
  position: absolute;
  top: 15px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  border-radius: 50%;
  background-color: rgba(37, 37, 37, 0.25);
  background-position: center center;
  background-repeat: no-repeat;
}
#move-to-settings {
  left: 15px;
  background-image: url(icons/settings.svg);
  background-size: 32px;
}
#move-to-history {
  right: 15px;
  background-image: url(icons/history.svg);
  background-size: 26px;
}

#backward,
#forward,
#stop,
#play {
  cursor: pointer;
  background-size: 16px;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  display: inline-block;
  border-radius: 50%;
  transition: opacity 0.5s ease;
  opacity: 1;
}
#backward:active,
#forward:active,
#stop:active,
#play:active {
  opacity: 0.1;
}
#play {
  background-image: url(icons/pause.svg);
  background-position: center center;
  background-size: 15px;
  width: 52px;
  height: 52px;
  margin: 0 30px;
  box-shadow: 0 0 16px 1px rgba(0, 148, 255, 0.37);
  background-color: transparent;
}
#play[data-state=pause] {
  background-image: url(icons/play.svg);
  background-position: left 19px center;
  background-size: 20px;
}
#backward {
  background-image: url(icons/backward.svg);
  background-position: left 6px center;
}
#forward {
  background-image: url(icons/forward.svg);
  background-position: right 6px center;
}
#stop {
  background-image: url(icons/stop.svg);
  background-position: center center;
  margin-left: 5px;
}

#progress {
  background-color: #c1c1c1;
  border-radius: 2px;
  cursor: pointer;
  margin: 0 20px;
}
#progress div {
  height: 4px;
  background-color: #4d8eee;
  width: 0%;
  pointer-events: none;
  border-radius: 2px;
}

#tools {
  padding: 5px;
  position: absolute;
  right: 0;
  top: 0;
}

#title {
  padding: 20px 10px;
  font-size: 130%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#history,
#settings {
  position: relative;
}
#back,
#for {
  position: absolute;
  top: 8px;
  background-size: 32px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
#back {
  right: 14px;
  background: url(icons/back.svg) center center no-repeat;
}
#for {
  left: 14px;
  background: url(icons/for.svg) center center no-repeat;
}

[hbox] {
  display: flex;
}
[vbox] {
  display: flex;
  flex-direction: column;
}
[pack=center] {
  justify-content: center;
}
[pack=end] {
  justify-content: flex-end;
}
[align=center] {
  align-items: center;
}
[align=end] {
  align-items: flex-end;
}
[flex="1"] {
  flex: 1;
}

#extension,
#player,
#page {
  padding-left: 15px;
}
#extension,
#page {
  padding-bottom: 15px;
}

body[data-player=false] #cover::before {
  display: flex;
  align-items: center;
  justify-content: center;
  content: 'Please start a YouTube video on a browser tab for the controls to appear';
  margin: 40px 20px;
  line-height: 16px;
}
body[data-player=false] #controls,
body[data-player=false] #info {
  opacity: 0.2;
  pointer-events: none;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #fff;
}

body[data-view=controls] {
  height: 500px;
  transform: translateX(-400px);
}
body[data-view=settings] {
  transform: translateX(0);
}

body[data-view=history] {
  transform: translateX(-800px);
}
